.container {
  display: grid; 
  grid-template-areas: 
  'searchBar searchBar searchBar searchBar'
  'videoPlayer videoPlayer videoPlayer videoList'
  'videoPlayer videoPlayer videoPlayer videoList'
}

.searchBar {
  grid-area: searchBar;
  background: red;
}

.videoPlayer {
  grid-area: videoPlayer;
  background: #111;
}

.videoList {
  grid-area: videoList;
  background: #111;  
  padding: 15px;
}

#videoListHeader {
  color: #eee;
}

